.grades{
   padding-left: 75px;
   padding-top: 50px;
}
.maintable{
    border:5px solid #676767 ;
    width:100%;
    padding: 25px;
   } 
   h5{
       padding-bottom: 15px;
       padding-left: 1px;
   }
   h4{
    color: #fff;
   }
   td{
    border:1px solid #676767 ;
    padding-bottom: 10px;
    padding-top: 10px;
    text-align-last: center;
    
   }
   .suj{
    width:75%; 
    padding:25px 50px 50px 350px; 
   } 
   
   #suj{
    border:5px solid #676767 ;
    width:75%;
    padding: 25px;
    background-color: #fff;
   }
   .adv{
       padding-left: 150px;
   }
   .overlay {
    position: absolute; /* Sit on top of the page content */
    display: none; /* Hidden by default */
    width: 100%; /* Full width (cover the whole page) */
    height: 100%; /* Full height (cover the whole page) */
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.959); /* Black background with opacity */
    z-index: 2; /* Specify a stack order in case you're using a different order for other elements */
    cursor: pointer; /* Add a pointer on hover */
  }
   h4{
       padding-bottom: 15px;
   }
  
   
   *{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}


.main{
    height: 100vh;
    background-image: linear-gradient(rgba(0,0,0,0.8),rgba(0,0,0,0.8)),url(iti.jpg);
    background-position: center;
    background-size: cover;
    overflow-x: hidden;
    position: relative;
}

.nav-bar{
    display: flex;
    padding: 40px 120px;
}

.nav-logo img{
    width: 135px;
}

.nav-links{
    flex: 1;
}

.nav-links ul{
    margin-left: 50px;
    display: inline;
}

.nav-links ul li{
    list-style: none;
    display: inline-block;
    padding: 8px 25px;
}

.nav-links ul a{
    color: #fff;
    text-decoration: none;
    font-size: 13px;
}

.nav-links ul li::after{
    content: '';
    width: 0%;
    height: 2px;
    background: rgb(231, 70, 70);
    display: block;
    margin: auto;
}

.nav-links ul li:hover::after{
    width: 100%;
}


.btn{
    padding: 10px 20px;
    border: 0;
    background: rgb(231, 70, 70);
    font-weight: bold;
    cursor: pointer;

}

.nav-links .btn{
    float: right;
}

.banner-title{
    margin: 80px 130px;
    color: #fff;
}

.banner-title h1{
    font-size: 64px;
    margin-bottom: 30px;
}

.banner-title h1 span{
    color: rgb(231, 70, 70);
}

.vertical-bar{
    height: 100%;
    background: #000;
    top: 0;
    left: 0;
    position: absolute;
}

.search-icon{
    height: 60%;
    width: 80px;
}

.search-icon .fa{
    margin: 45px 23px;
    display: block;
    color: #fff;
    font-size: 30px;
    cursor: pointer;
}

.social-icon{
    height: 35%;
    width: 80px;
    background: rgb(231, 70, 70);
    text-align: center;
    padding-top: 27%;
    bottom: 0;
    position: absolute;
}

.social-icon .fa{
    margin: 15px 23px;
    display: block;
    padding: 8px;
    border: 1px solid #000;
    border-radius: 50%;
    cursor: pointer;
}

.nav-bar .fa{
    display: none;
}

@media (max-width: 700px){
    .vertical-bar{
        display: none;
    }

    .banner-title{
        margin: 80px 40px;
    }
    .banner-title h1{
        font-size: 50px;
    }
    .nav-bar{
        padding: 10px 30px;
    }
    .fa-bars{
        position: absolute;
        right: 20px;
        top: 10px;
    }
    .nav-bar .fa{
        display: block;
        color: #fff;
        margin: 10px 25px;
        font-size: 22px;
        cursor: pointer;
    }
    .nav-links{
        height: 100vh;
        width: 200px;
        background: #000;
        top: 0;
        right: -200px;
        position: absolute;
        text-align: left;
        z-index: 2;
        transition: 0.5s;
    }
    .nav-links ul a{
        display: block;
    }
    .nav-links .btn{
        float: none;
        margin-left: 25px;
        margin-top: 10px;
    }
}


.page-container {
    position: relative;
    min-height: 100vh;
    background: wheat;
  }
  
.content {
    padding-bottom: 2.5rem;    
  }
  
.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 200px;            
    background: rgb(70, 68, 68);
  }
   