*{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}
/*-------------------------------------------------------------------*/
.main{
    height: 750PX;
    background-position: center;
    background-size: cover;
    overflow-x: hidden;
    position: relative;
}
/*-------------------------------------------------------------------*/
.nav-bar{
    display: flex;
    padding: 40px 120px;
}

.nav-logo img{
    width: 300px;
}

.nav-links{
    flex: 1;
}

.nav-links ul{
    margin-left: 50px;
    display: inline;
}

.nav-links ul li{
    list-style: none;
    display: inline-block;
    padding: 8px 25px;
}

.nav-links ul a{
    color: #fff;
    text-decoration: none;
    font-size: 13px;
}

.nav-links ul li::after{
    content: '';
    width: 0%;
    height: 2px;
    background: rgb(231, 70, 70);
    display: block;
    margin: auto;
}

.nav-links ul li:hover::after{
    width: 100%;
}

.nav-links .btn{
    float: right;
}
/*-------------------------------------------------------------------*/
.btn{
    padding: 10px 20px;
    border: 0;
    background: rgb(231, 70, 70);
    font-weight: bold;
    cursor: pointer;
    color: white;

    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
}

.btn:hover{
    background-color: rgba(0,0,0,0.8); /* Green */
    color: white;
}
/*-------------------------------------------------------------------*/
.banner-title{
    margin: 80px 130px;
    color: #fff;
}

.banner-title h1{
    font-size: 64px;
    margin-bottom: 30px;
}

.banner-title h1 span{
    color: rgb(231, 70, 70);
}
/*-------------------------------------------------------------------*/
.vertical-bar{
    height: 100%;
    background: #000;
    top: 0;
    left: 0;
    position: fixed;
}
/*-------------------------------------------------------------------*/
.search-icon{
    height: 60%;
    width: 80px;
}

.search-icon .fa{
    margin: 45px 23px;
    display: block;
    color: #fff;
    font-size: 30px;
    cursor: pointer;
}

.search-icon .fa:hover{
    color: rgb(231, 70, 70);
}

.search-icon a{
    text-decoration: none;
}
/*-------------------------------------------------------------------*/
.social-icon{
    height: 35%;
    width: 80px;
    background: rgb(231, 70, 70);
    text-align: center;
    padding-top: 27%;
    bottom: 0;
    position: absolute;
}

.social-icon .fa{
    margin: 15px 23px;
    display: block;
    padding: 8px;
    border: 1px solid #000;
    border-radius: 50%;
    cursor: pointer;
}

.social-icon .fa:hover{
    background-color: rgb(255, 255, 255);
    border: none;
}

.social-icon a{
    text-decoration: none;
    color: rgba(0,0,0,0.8);
}
/*-------------------------------------------------------------------*/
.nav-bar .fa{
    display: none;
}

@media (max-width: 700px){

    .vertical-bar{
        display: none;
    }

    .banner-title{
        margin: 80px 40px;
    }

    .banner-title h1{
        font-size: 50px;
    }

    .nav-bar{
        padding: 10px 30px;
    }

    .fa-bars{
        position: absolute;
        right: 20px;
        top: 10px;
    }

    .nav-bar .fa{
        display: block;
        color: #fff;
        margin: 10px 25px;
        font-size: 22px;
        cursor: pointer;
    }

    .nav-links{
        height: 100vh;
        width: 200px;
        background: #000;
        top: 0;
        right: -200px;
        position: absolute;
        text-align: left;
        z-index: 2;
        transition: 0.5s;
    }

    .nav-links ul a{
        display: block;
    }

    .nav-links .btn{
        float: none;
        margin-left: 25px;
        margin-top: 10px;
    }
}
/*-------------------------------------------------------------------*/
.content{
    background: #e5e5e5;
    height: 100vh;
}